.position {
  font-style: italic;
  font-size: 16px;
}
.DM {
  color: #fcf6f5ff;
  font-size: 22px;
  background-color: #89abe3ff;
  text-align: center;
}
.EP {
  color: #89abe3ff;
}
.ED {
  color: #89abe3ff;
}
.SK {
  color: #89abe3ff;
}
